body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.app {
  min-height: 100vh;
  display: flex;
}

.title {
  font-weight: bold;
}

// Logo
.logo-container {
  min-width: 60px;
  background-color: #1F6650;
  color: white;// #EA5E5E for message content
  margin: 0;
  padding: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

// Channels
.channels-container {
  min-width: 110px;
  background-color: #6F9A8D;
  color: white;
  margin: 0;
  padding: 10px;
}

.channels-container > ul {
  list-style: none;
  padding: 0;
}

.active {
  font-weight: bold;
}

// Messages
.messages-container {
  width: 100%;
  background-color: #EAFBEA;
  padding: 10px;
}

.messages-window {
  min-height: calc(100vh - 110px);
}

// Form
.channel-editor {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #f4f4f4;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  border-color: #d4d4d4;
}

button {
  padding: 10px;
  margin-left: -2px;
  height: 34px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
